################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SuperMarket/.vs/SuperMarket
/SuperMarket/bin/Debug/net5.0
